#username{ border-bottom: solid 1px white; }
#username::placeholder, #msg::placeholder{ color: white; }
#username:focus{ opacity: 60%; }
#button{
    text-transform: uppercase;
    font-size: 1.5em;
    border: solid white 1px;
    border-radius: 5%;
}

button:hover{
    background-color: white;
    color: #D5634B;
}


#chatInfo{ 
    background-color: #AD422C;
}

#chatMessage{ color: black; }